html, body {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
}

body {
  background: #f8f9fa;
}

h1,
h2 {
  color: #d90429; // rojo de Melgar
}

.grid-cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 1rem;

  .card {
    border: 1px solid #ddd;
    border-radius: 0.5rem;
    padding: 1rem;
    background: #fff;
    text-align: center;
    transition: transform 0.2s;

    &:hover {
      transform: scale(1.03);
    }

    h5 {
      margin-bottom: 0.5rem;
      color: #111;
    }
  }
}
